@import url("./assets/fonts/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e2e2e2;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary;
  border-radius: 4px;
}

.preview-scroll-overflow-x {
  padding-bottom: 10px;
  overflow-x: auto;
}

.preview-scroll-overflow-x::-webkit-scrollbar {
  height: 5px !important;
}

.preview-scroll-overflow-x::-webkit-scrollbar-track {
  background: rgb(236, 236, 236);
}
.preview-scroll-overflow-x::-webkit-scrollbar-thumb {
  @apply bg-primary;
  border-radius: 4px;
}

.dashboard-overflow-x {
  padding-bottom: 5px;
  overflow-x: auto;
}

.dashboard-overflow-x::-webkit-scrollbar {
  height: 10px !important;
}
.dashboard-overflow-x::-webkit-scrollbar-thumb {
  @apply bg-primary;
  border-radius: 4px;
}

/* for cart drawer */
.drawer-scroller::-webkit-scrollbar {
  width: 0px;
}

/* for chat scrolling */

.chat-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.chat-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-primary/20;
}

.chat-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

body {
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Notification Popper - Animation for sliding in from the right */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animation for sliding out */
@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

/* Notification Popper - Applying animation to the notification */
.slide-in-out {
  animation: slideIn 0.3s ease-out forwards; /* Slide in animation */
}

.slide-out {
  animation: slideOut 0.3s ease-out forwards; /* Slide out animation */
}

/* Resetting heading tags to default design for product description */
.product-description h1 {
  font-size: 2em; /* Adjust size as needed */
  font-weight: 700; /* Adjust weight as needed */
}

.product-description h2 {
  font-size: 1.5em; /* Adjust size as needed */
  font-weight: 700; /* Adjust weight as needed */
}

.product-description h3 {
  font-size: 1.17em; /* Adjust size as needed */
  font-weight: 700; /* Adjust weight as needed */
}

.product-description h4 {
  font-size: 1em; /* Adjust size as needed */
  font-weight: 700; /* Adjust weight as needed */
}

.product-description h5 {
  font-size: 0.83em; /* Adjust size as needed */
  font-weight: 700; /* Adjust weight as needed */
}

.product-description h6 {
  font-size: 0.67em; /* Adjust size as needed */
  font-weight: 700; /* Adjust weight as needed */
}

.font-Oswald {
  font-family: "Oswald", sans-serif;
}

/* Removing Input Field Number Arrows */
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input:placeholder-shown,
textarea:placeholder-shown {
  font-size: 14px;
}

/* Additonal custom styles */
.max-width {
  @apply mx-auto max-w-[1280px] px-4;
}

.join button {
  z-index: 2;
}
.join button::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: transparent;
  display: block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  z-index: 1;
}
.join button.active {
  @apply bg-primary text-white;
}
.join button.active::after {
  @apply bg-primary;
}

/* Testimonial review sorting button active design */
.sortingBtn.active {
  @apply border-black bg-[#FFEFEF];
}

/* homeactivitycard slider design */
/* .slick-track {
  display: flex;
  align-items: stretch;
}
.slick-track > div {
  height: auto !important;
}
.slick-track > div > div {
  height: 100%;
} */

/* category cards slider design */
.category-cards .slick-track {
  margin-left: 0 !important;
  display: flex !important;
  justify-content: start !important;
  align-items: stretch !important;
}
.category-cards .slick-track .slick-slide {
  height: auto !important;
}

.category-cards .slick-track .slick-slide > div {
  height: 100% !important;
}

/* related cards slider design */
.related-cards .slick-track .slick-slide {
  height: auto !important;
}

.related-cards .slick-track .slick-slide > div {
  height: 100% !important;
}

/* order delivery images slider design */
.order-slider .slick-track {
  width: auto !important;
  display: flex;
}
.order-slider .slick-track .slick-slide {
  width: 100% !important;
  min-width: 100% !important;
}

.profile-info .MuiPaper-root.MuiPaper-elevation {
  @apply !m-4 !w-full !max-w-[500px];
}

/* Form Error Handling Design */
.isError {
  @apply border-red-600;
}
.isError + p {
  @apply block;
}

@media (max-width: 575.99px) {
  .join button::after {
    width: 10px;
    height: 10px;
    bottom: -5px;
  }
}
/* Hide password reveal icon across various browsers */

/* For Microsoft Edge */
input[type="password"]::-ms-reveal {
  display: none;
}

/* For Chrome, Edge (WebKit-based browsers) */
input[type="password"]::-webkit-reveal,
input[type="password"]::-webkit-clear-button {
  display: none;
}

/* For Firefox */
input[type="password"]::-moz-reveal {
  display: none;
}

/* General rule: hide any sibling div or icon used to reveal password */
input[type="password"] + div {
  display: none;
}

.file-input::file-selector-button {
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: #7c7c7c;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  color: white;
  text-transform: uppercase;
  transition: background-color 200ms;
}

.cusotomTextarea::-webkit-scrollbar {
  display: none;
}

/* Rating Page Icons Customization starts here */

.rating-icon svg {
  @apply !stroke-primary;
}
.rating-icon svg path[stroke-width] {
  stroke-width: 20;
}

/* Custom styles for SweetAlert2 buttons */
.swal2-confirm.successfull-button {
  background-color: #1b8cdc;
  color: #fff;
  border: none;
}

.swal2-confirm.swal2-styled {
  background-color: #1b8cdc !important;
}

/* Pagination button customize */
.MuiPaginationItem-previousNext:hover {
  @apply !bg-transparent;
}
.MuiPaginationItem-previousNext > span {
  @apply !hidden;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  cursor: pointer;
  background-image: url("./assets/svg/Dropdown Icon.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 16px;
  padding-right: 40px !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 370px) {
  .search-box {
    max-width: 180px;
  }
}
